examples/annotations.json
[
    {
        "id": "b94029ef5cbbd1b2",
        "type": "inject",
        "z": "055c98606c931f5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "d8b5f66ae7fe9fca"
            ]
        ]
    },
    {
        "id": "d8b5f66ae7fe9fca",
        "type": "http request",
        "z": "055c98606c931f5b",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://www.grunge.com/img/gallery/why-its-finally-time-to-cancel-the-big-bang-theory/-1483023960.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 220,
        "wires": [
            [
                "ca5f13288329c404"
            ]
        ]
    },
    {
        "id": "ca5f13288329c404",
        "type": "change",
        "z": "055c98606c931f5b",
        "name": "Add Annotations",
        "rules": [
            {
                "t": "set",
                "p": "annotations",
                "pt": "msg",
                "to": "[{\"type\":\"rect\",\"x\":328.1650629043579,\"y\":26.98061304092407,\"w\":48.30702781677246,\"h\":69.14413487911226,\"label\":\"Sheldon 95%\",\"labelLocation\":\"top\",\"fontColor\":\"#0000ff\"},{\"type\":\"rect\",\"x\":465.6891059875488,\"y\":50.93273027539253,\"w\":47.93747520446777,\"h\":67.21298364400863,\"label\":\"Raj 90%\",\"stroke\":\"#9363b7\",\"fontColor\":\"#000000\",\"lineWidth\":5},{\"type\":\"circle\",\"x\":244.48601818084717,\"y\":51.76605024337769,\"w\":43.43518924713135,\"h\":59.093867301940904,\"label\":\"Penny 97%\",\"stroke\":\"#00ff00\"},{\"type\":\"rect\",\"x\":135.44995880126953,\"y\":81.36984618306161,\"w\":48.41507434844971,\"h\":52.50926607847214,\"label\":\"Howard 81%\",\"stroke\":\"#ff0000\"},{\"type\":\"rect\",\"x\":560.1568665504456,\"y\":72.44488201737403,\"w\":64.55302333831787,\"h\":66.89452761411667,\"label\":\"Leonard 91%\",\"textBackground\":\"#bfdbef\",\"fontSize\":30}]",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "lastnode",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 220,
        "wires": [
            [
                "22df7ca5a0adb000"
            ]
        ]
    },
    {
        "id": "d38684f9c57887a5",
        "type": "function",
        "z": "055c98606c931f5b",
        "name": "elapsed",
        "func": "const now = Date.now();\n\nconst lastSeconds = now - msg.lastnode.toFixed(5);\n\nnode.status({\n    fill: \"yellow\",\n    shape: \"dot\",\n    text: `${lastSeconds} ms `\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1195,
        "y": 220,
        "wires": [
            [
                "d5eb67361f481ffc"
            ]
        ],
        "icon": "node-red/timer.svg",
        "l": false
    },
    {
        "id": "37443966840d2a6a",
        "type": "comment",
        "z": "055c98606c931f5b",
        "name": "Install node-red-contrib-image-output instead of debug to see the output",
        "info": "https://flows.nodered.org/node/node-red-contrib-image-output",
        "x": 650,
        "y": 160,
        "wires": []
    },
    {
        "id": "d5eb67361f481ffc",
        "type": "debug",
        "z": "055c98606c931f5b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 220,
        "wires": []
    },
    {
        "id": "22df7ca5a0adb000",
        "type": "annotate-image-plus",
        "z": "055c98606c931f5b",
        "name": "",
        "stroke": "#ffC000",
        "lineWidth": "",
        "fontSize": "",
        "fontColor": "#ffC000",
        "textBackground": "#ffffff",
        "minFontSize": "10",
        "data": "payload",
        "dataType": "msg",
        "x": 1000,
        "y": 220,
        "wires": [
            [
                "d38684f9c57887a5"
            ]
        ]
    }
]